.numbres{
    background-color: #a82d49;
    padding: 25px 0px;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    
}
.numbres .row{
    margin: 10px 0px;
}
.numbres h2{
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0px;
    color: #fff;
    font-family: "tajawal";
}
.numbres h6{
    text-transform: uppercase;
    color: #fff;
    font-family: "tajawal";
    font-weight: bold;
    letter-spacing: 1px;
}

/* css to the pride section*/

.pride{
    background-color: #fff;
    padding: 25px 0px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 60px;
    
}

.pride img{
    max-width: 110%;
    border-radius: 10px;
    
}

.pride h2, .paralex h2{
    font-size: 35px;
    font-weight: bold;
    width: 80%;
    margin: 10px 0px;
    color: #77132b;
    font-family: "tajawal";
    line-height: 50px;
    margin-left: 50px;
    margin-top: 50px;
}
.pride p{
    font-size: 16px;
    line-height: 28px;
    color: #333;
    font-family: "tajawal";
    margin-top: 15px;
    margin-left: 50px;
} 

.pride button{
    background-color:#a82d49;
    border: 1px solid #a82d49;
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    transition: .2s ease;
    margin-left: 50px;

}
.pride button a{
    display: block;
    color: #fff;
    font-family: "tajawal";
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: bold;
}

.pride button:hover a{
    color: #77132b;
}
.pride button:hover{
    background-color: #fff;
}

/* start css to the ingredients sectoion */

.ingredients{
    margin-top: 50px;
    max-width: 100%;
    height: auto;
    text-align: left;
    overflow: hidden;
}
.ingredients h2{

    font-size: 35px;
    font-weight: bold;
    width: 80%;
    margin: 10px 0px;
    color: #77132b;
    font-family: "tajawal";
    line-height: 50px;

}
 .ingredients p{
    font-size: 16px;
    line-height: 28px;
    color: #333;
    font-family: "tajawal";
    margin-top: 15px;
    
} 
.ingredients ul{
    padding: 0px;
}
.ingredients ul li{
    list-style-type: square;
    font-family: "tajawal";
    color: #333;
    margin-top: 10px;

}
.ingredients img{
    max-width: 110%;
    border-radius: 10px;
    height: 440px;
    
}

.ingredients button{
    background-color:#a82d49;
    border: 1px solid #a82d49;
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    transition: .2s ease;
  

}
.ingredients button a{
    display: block;
    color: #fff;
    font-family: "tajawal";
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: bold;
}

.ingredients button:hover a{
    color: #77132b;
}
.ingredients button:hover{
    background-color: #fff;
}
/* css to the paralex section */

.paralex{
    background: url("../../assest/back.avif") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    padding: 0px 0px;
    text-align: center;
    margin-top:130px;
}
.paralex{
    margin: 50px 0px;
}
.paralex p{
    font-size: 16px;
    line-height: 30px;
    color: #333;
    font-family: "tajawal";
    margin-top: 15px;
    padding-right: 150px;
}
.paralex a{
    color: #77132b;
    font: 20px;
    margin: 20px 0px;
    font-family: "tajawal";
    padding-right: 130px;
    font-weight: bold;
    text-decoration: none !important;
    
    
}

/*start css to the blogs section*/
.blogs{
    margin-top: 50px;
    padding:25px 0px;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.blogs .row:first-child{
    text-align: center;
    margin: 25px 0px;
}

.blogs h2{
    font-size: 45px;
    font-weight: bold;
    width: 100%;
    margin: 10px 0px;
    color: #77132b;
    font-family: "tajawal";
    line-height: 50px;
    
}

.blogs p{
    font-size: 16px;
    line-height: 28px;
    color: #333;
    font-family: "tajawal";
    margin-top: 15px;
    
}

.blogs .box img{
    max-width: 100%;
}

.blogs .box{
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid #f6f6f6;
    margin-top: 10px;
    border-radius: 5px;
}
.blogs .box h5{
    color: #77132b;
    font-family: "tajawal";
    font-size: 22px;
    margin: 15px 0px;

}

.blogs button {
    width: 140px;
    height: 40px;
    text-align: center;
    background-color: #740c24;
    border-color:1px solid #740c24;
    box-sizing: border-box;
    margin: 10px 0px;
    transition: .3s ease-in-out;
}
.blogs button a{
    color: #fff;
    text-transform: uppercase;
    font-family: "tajawal";
    font-size: 15px;
    font-weight: bold;
    text-decoration: none !important;
    letter-spacing: 1px;
}
.blogs button:hover{
    background-color: transparent;
}
.blogs button:hover a{
    color: #740c24;
}

/* start css to the slider */

.sliderx{
    background-color: #a82d49;
    border: 1px solid #a82d49;
    width: 100%;
    max-width: 100%;
    height: 550px;
    text-align: center;
    padding: 50px 0px;
    margin: 50px 0px;
}

.sliderx h2{
    color: #fff;
    font-size: 40px;
    margin: 30px 0px;
    letter-spacing: 1px;
}

.sliderx .carousel{
    background-color: #fff;
    margin: 40px 0px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
}

.sliderx img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px 0px;
    margin-bottom: 150px;

}

.sliderx .carousel-caption p{
    color: #212121;
    font-size: 17px;
    line-height: 30px;

}
.sliderx .carousel-caption span{
    color:#740c24;
    display: block;
    margin: 15px 0px;
    text-transform: uppercase;
    font-size: 17px;
}

.sliderx .carousel-indicators{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0%;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.sliderx .carousel-indicators button{
    width: 30px;
    height: 10px;
    background-color: #77132b;
    border: 1px solid #77132b;
    margin: 5px 5px  15px 5px;
}


