nav{
    background-color:#fff;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 0px;
}

nav a{
    color: #ab3550 !important;
    font-size:13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

}
nav #lastname{
    background-color: #ab3550;
    border:1px solid #ab3550;
    box-sizing: border-box;
    color: #fff !important;
}
nav #lastname:hover{
    background-color: transparent;
    color: #ab3550 !important;
    transition: .2s ease-in-out;
}
nav img{
    max-width: 20%;
    height: 50%;
}